extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22
    factories: App\DI\AppExtension

parameters:


application:
    errorPresenter: Error
    catchExceptions: %productionMode%
    mapping:
        *: App\*Module\Presenters\*Presenter
    scanDirs: no
    debugger: on

routing:
    routes:
        'admin[/<presenter>[/<action>]]': {module: Admin, presenter: Dashboard, action: default}
        '<presenter>[/<action>]': {module: Public, presenter: Home, action: default}

dibi:
    driver: pdo
    dsn:
    username:
    password:
    profiler: on
    lazy: yes

session:
    autoStart: smart
    expiration: +1 month

latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

services:
    - App\Security\SimpleAuthenticator
    - App\Models\UserModel
    - Symfony\Component\Console\Application
