extensions:
    factories: App\DI\AppExtension
    console: Kdyby\Console\DI\ConsoleExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    events: Kdyby\Events\DI\EventsExtension

parameters:


application:
    errorPresenter: Error
    catchExceptions: %productionMode%
    mapping:
        *: App\*Module\Presenters\*Presenter
    scanDirs: no
    debugger: on

routing:
    routes:
        'admin[/<presenter>[/<action>]]': {module: Admin, presenter: Dashboard, action: default}
        '<presenter>[/<action>]': {module: Public, presenter: Home, action: default}

console:
    name: 'Project Console'
    application: false
    fakeHttp: true
    url: http://localhost:8000

doctrine:
    host:
    user:
    password:
    charset: UTF8
    driver: pdo_mysql
    dbname:
    metadata:
        App\Entity: %srcDir%/Entity

annotations:
    debug: yes

session:
    autoStart: smart
    expiration: +1 month

latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

services:
    - App\Security\DoctrineIdentityProvider
    - App\Security\SimpleAuthenticator
